<nav>

    <ul class="app-subnav__section">

        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Helpers" asp-action="Stylesheet">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Helpers" asp-action="Stylesheet">Include GDS styles</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Helpers" asp-action="ActiveRoute">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Helpers" asp-action="ActiveRoute">Active route taghelper</a>
        </li>

    </ul>

</nav>
