@{
    ViewData["Title"] = "Helpers";
}

@section LeftNav
{
    <partial name="_HelpersLeftNav" />
}

<main id="main-content" role="main">

    <div>
        <govukHeadingH1 text="Helpers"></govukHeadingH1>
    </div>

    <div>
        <p class="govuk-body">In addition to covering the elements within the GOV.UK Design System, GDSRazor provides some additional tag helpers and partial views which are useful for ASP.NET Core MVC development.</p>
    </div>

</main>

