@{
    ViewData["Title"] = "Button";
}

@section LeftNav
{
    &nbsp;
}

<main id="main-content" role="main">

    <div>
        <govukHeadingH1 text="Typography" caption="Styles"></govukHeadingH1>
    </div>

    <div>
        <p class="govuk-body">For details and usage instructions see <a href="https://design-system.service.gov.uk/components/button/" class="govuk-link">GOV.UK Design System</a>.</p>
    </div>

    <govukHeadingH1 text="govukHeadingH1" caption="Caption1" additionalClass=""></govukHeadingH1>
    <govukHeadingH2 text="govukHeadingH2" caption="Caption2" additionalClass=""></govukHeadingH2>
    <govukHeadingH3 text="govukHeadingH3" caption="Caption3" additionalClass=""></govukHeadingH3>
    <govukHeadingH4 text="govukHeadingH4" additionalClass=""></govukHeadingH4><p class="govuk-body">govukHeadingH4 doesn't have an associated caption style</p>

</main>
