@model DFC.Personalisation.CommonUI.ViewComponents.Components.Banner.BannerModel
<div class="primary-hero" id="@Model.Id">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@Model.HeaderText</h1>
                <p>@Model.SubheaderText</p>
            </div>
        </div>
    </div>
</div>