<footer class="govuk-footer app-footer app-footer--full" role="contentinfo">
    <div class="govuk-width-container app-site-width-container">

        <div class="govuk-footer__navigation">

            <div class="govuk-footer__section">
                <h2 class="govuk-footer__heading govuk-heading-m">Related resources</h2>


                <ul class="govuk-footer__list govuk-footer__list--columns-1">


                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="https://www.gov.uk/guidance/government-design-principles">
                            Government Design Principles
                        </a>
                    </li>



                    <li class="govuk-footer__list-item">
                        <a class="govuk-footer__link" href="https://www.gov.uk/service-manual">
                            GOV.UK Service Manual
                        </a>
                    </li>


                </ul>

            </div>

        </div>
        <hr class="govuk-footer__section-break">

        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

            </div>
            <div class="govuk-footer__meta-item">
            </div>
        </div>
    </div>
</footer>
