<nav>

    <ul class="app-subnav__section">

        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="Button">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="Button">Button</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="TextInput">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="TextInput">TextInput</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="RadioButton">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="RadioButton">RadioButton</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="Checkbox">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="Checkbox">Checkbox</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="BackLink">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="BackLink">BackLink</a>
        </li>
        <li class="app-subnav__section-item" is-active-route active-route-class="app-subnav__section-item--current" asp-controller="Components" asp-action="AutoComplete">
            <a class="app-subnav__link govuk-link govuk-link--no-visited-state" asp-controller="Components" asp-action="AutoComplete">AutoComplete</a>
        </li>
    </ul>

</nav>
