@{
    ViewData["Title"] = "Components";
}

@section LeftNav
{
    <partial name="_ComponentsLeftNav" />
}

<main id="main-content" role="main">

    <div>
        <govukHeadingH1 text="Components"></govukHeadingH1>
    </div>

    <div>
        <p class="govuk-body">Components are reusable parts of the user interface that have been made to support a variety of applications. For details and usage see the Components section of the <a href="https://design-system.service.gov.uk/components/">GOV.UK design system</a>.</p>
        <p class="govuk-body">CommonUI implements components as ASP.NET Core View Components with associated Tag Helpers.</p>
    </div>

</main>