@model DFC.Personalisation.CommonUI.ViewComponents.Components.AutoComplete.AutoCompleteModel

@Html.Raw(@Model.ChildContent)
<div id="@Model.Id"></div>

@{ Html.RenderPartial("~/Views/Shared/Components/AutoComplete/AutoCompleteScript.cshtml", @Model);}