@{
    ViewData["Title"] = "Getting started";
}

@section LeftNav
{
    <nav>

        <h4 class="govuk-heading-s">Setup guides</h4>

        <p class="govuk-body">some options</p>

        <h4 class="govuk-heading-s">How to guides</h4>

        <p class="govuk-body">some options</p>

        </nav>
}

<main id="main-content" role="main">
    <govukHeadingH1 text="GDS Razor Class Library"/>

    <div>
        <p class="govuk-body">add @@addTagHelper *, DFC.Personalisation.CommonUI  to _ViewImports.cshtml</p>
    </div>

</main>