@model DFC.Personalisation.CommonUI.ViewComponents.Typography.Lists.ListItem.ListItemModel
@{

    var openingTag = "<li>";
    var closingTag = "</li>";
    string output = $"{openingTag}{@Model.Text}{closingTag}";
    @Html.Raw(output)
}