@model DFC.Personalisation.CommonUI.ViewComponents.Typography.Heading.HeadingModel

@if (!string.IsNullOrWhiteSpace(Model.Caption))
{
    <span class="govuk-caption-@Model.Size">@Model.Caption</span>
}
@if(string.IsNullOrWhiteSpace(Model.AdditionalClass))
{
    Model.AdditionalClass = string.Empty;
}
<@Model.Tag class="govuk-heading-@Model.Size @Model.AdditionalClass">@Model.Text</@Model.Tag>
