@model DFC.Personalisation.CommonUI.ViewComponents.Typography.Lists.ListModel
<p class="govuk-body">@Model.Text</p>
<ul class="govuk-list @Model.AdditionalClass">
    @Html.Raw(@Model.ChildContent)
</ul>